In [1]:




from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 3.10.0

In [2]:
#client = MongoClient('localhost', 27017)
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
mydb = myclient["mydatabase"]

In [4]:
print(myclient)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [5]:
print(mydb)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [6]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [7]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else :
    print("NO")

NO

In [8]:
mycol = mydb["customers"]

In [9]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else :
    print("NO")

NO

In [10]:
print(mydb.list_collection_names())

[]

In [11]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [12]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else :
    print("NO")

The database exists.

In [13]:
print(mydb.list_collection_names())

['customers']

In [117]:
x

In [14]:
my_dict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(my_dict)

print(x.inserted_id)

5df953dd9aa6e15e27f4f179

In [15]:
str(x)

'<pymongo.results.InsertOneResult object at 0x00000223C3722DC8>'

In [16]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [17]:
x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('5df953ea9aa6e15e27f4f17a'), ObjectId('5df953ea9aa6e15e27f4f17b'), ObjectId('5df953ea9aa6e15e27f4f17c'), ObjectId('5df953ea9aa6e15e27f4f17d'), ObjectId('5df953ea9aa6e15e27f4f17e'), ObjectId('5df953ea9aa6e15e27f4f17f'), ObjectId('5df953ea9aa6e15e27f4f180'), ObjectId('5df953ea9aa6e15e27f4f181'), ObjectId('5df953ea9aa6e15e27f4f182'), ObjectId('5df953ea9aa6e15e27f4f183'), ObjectId('5df953ea9aa6e15e27f4f184'), ObjectId('5df953ea9aa6e15e27f4f185')]

In [18]:
type(x)

pymongo.results.InsertManyResult

In [123]:
type(x[0])

TypeError: 'InsertManyResult' object is not subscriptable

In [19]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }

In [21]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}

In [22]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}

In [23]:
x = mycol.find().sort('_id')
for i in x:
    print(i)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17b'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f180'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f182'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f183'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f184'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [24]:
x = mycol.find({'name' :'Hannah'})
print(x[0])

{'_id': ObjectId('5df953ea9aa6e15e27f4f17b'), 'name': 'Hannah', 'address': 'Mountain 21'}

In [25]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [26]:
for x in mycol.find({},{  "address": 0 }):
  print(x)

{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John'}
{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17a'), 'name': 'Amy'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17b'), 'name': 'Hannah'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17d'), 'name': 'Sandy'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17e'), 'name': 'Betty'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f180'), 'name': 'Susan'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f182'), 'name': 'Ben'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f183'), 'name': 'William'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f184'), 'name': 'Chuck'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [27]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [28]:
myquery = { "address": { "$gte": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [134]:
myquery = { "address": { "$exists": None } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

In [29]:
myquery = { "address": { "$regex": "^S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [136]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  print(x)

{'_id': ObjectId('5df833b2c1cc65983bff2ea4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eb3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df8664249cb787b71bff419'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df898d749cb787b71bff428'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df833b2c1cc65983bff2eac'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df85cb1c1cc65983bff2ebb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df8664249cb787b71bff421'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df898d749cb787b71bff430'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df833b2c1cc65983bff2ea8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eb7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df8664249cb787b71bff41d'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df898d749cb787b71bff42c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df833b2c1cc65983bff2eae'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df85cb1c1cc65983bff2ebd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df8664249cb787b71bff423'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df898d749cb787b71bff432'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df898d749cb787b71bff429'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5df832cfc1cc65983bff2ea2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df85ca1c1cc65983bff2eb1'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df8664249cb787b71bff417'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df898d749cb787b71bff426'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 14, 'name': 'Manuel', 'address': 'Barcelona'}
{'_id': ObjectId('5df833b2c1cc65983bff2ea6'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eb5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df8664249cb787b71bff41b'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df898d749cb787b71bff42a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df83367c1cc65983bff2ea3'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df85ca9c1cc65983bff2eb2'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df8664249cb787b71bff418'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df898d749cb787b71bff427'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df833b2c1cc65983bff2ea9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eb8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df8664249cb787b71bff41e'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df898d749cb787b71bff42d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df833b2c1cc65983bff2ea7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eb6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df8664249cb787b71bff41c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df898d749cb787b71bff42b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df833b2c1cc65983bff2eaa'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eb9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df8664249cb787b71bff41f'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df898d749cb787b71bff42e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df833b2c1cc65983bff2eab'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df85cb1c1cc65983bff2eba'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df8664249cb787b71bff420'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df898d749cb787b71bff42f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df833b2c1cc65983bff2eaf'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5df85cb1c1cc65983bff2ebe'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5df8664249cb787b71bff424'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5df898d749cb787b71bff433'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5df833b2c1cc65983bff2ead'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df85cb1c1cc65983bff2ebc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df8664249cb787b71bff422'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df898d749cb787b71bff431'), 'name': 'William', 'address': 'Central st 954'}

In [30]:
mycol.delete_one({ "address": "Mountain 21" })

In [31]:
import re
a = "Hi I am sony. My age 23. This is my email id sony.1510@gmail.com . Hi I am Jessey. My age 20. This is my email id jessey.1996@gmail.com . Hi I am ronald.My age 17 My mail id is ronald.1999@gmail.com"

re.findall(r'[0-9]{7}', a)

[]

In [32]:
#x=mycol.delete_many({"_id" : { "$regex" : "[0-9]{2}" }})
#print(x.deleted_count)
#mydoc = mycol.find({"_id": { "$regex" : "^[0-9]{2}" }})
mydoc= mycol.find({},{  "id_":1 })

for x in mydoc:
    #print((x['_id']))
    if isinstance(x['_id'],int) :
        if re.findall(r'[0-9]{2}', str(x['_id']))!=[]:
            #print (x)
            mycol.delete_one({"_id" : x['_id']})
mydoc = mycol.find()

for x in mydoc:
  print(x)

{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f180'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f182'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f183'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f184'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}

In [33]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)

In [34]:
mydoc = mycol.find()

for x in mydoc:
  print(x)

{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f180'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f182'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f183'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f184'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}

In [35]:
mydoc= mycol.find().sort('_id')
for x in mydoc:
  print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17e'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17f'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f180'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f181'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f182'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f183'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f184'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f185'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [66]:
mydoc = mycol.find().limit(5)

for x in mydoc:
  print(x)

{'_id': ObjectId('5df953ba9aa6e15e27f4f178'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17a'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17c'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5df953ea9aa6e15e27f4f17d'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

In [37]:
import os
import pandas as pd
import numpy as np

In [38]:
mydb = myclient["mydatabase"]

In [39]:
os.chdir("../data")

In [40]:
os.getcwd()

'C:\\Users\\ven_n_000\\Desktop\\iod_work\\2019_12_09_DS_FT_SYD_Projects\\miruna\\labs\\data'

In [41]:
collection = mydb["people"]
collection.drop()

In [42]:
#os.system('mongoimport --db=mydatabase --collection=people --file=dummyData.json')

In [43]:
os.chdir("../module_2")

In [44]:
import os
for a in os.environ:
    print('Var: ', a, 'Value: ', os.getenv(a))
print("all done")

Var:  ALLUSERSPROFILE Value:  C:\ProgramData
Var:  APPDATA Value:  C:\Users\ven_n_000\AppData\Roaming
Var:  COMMONPROGRAMFILES Value:  C:\Program Files\Common Files
Var:  COMMONPROGRAMFILES(X86) Value:  C:\Program Files (x86)\Common Files
Var:  COMMONPROGRAMW6432 Value:  C:\Program Files\Common Files
Var:  COMPUTERNAME Value:  BANKAI
Var:  COMSPEC Value:  C:\WINDOWS\system32\cmd.exe
Var:  CONDA_DEFAULT_ENV Value:  base
Var:  CONDA_EXE Value:  C:\Users\ven_n_000\Anaconda3\Scripts\conda.exe
Var:  CONDA_PREFIX Value:  C:\Users\ven_n_000\Anaconda3
Var:  CONDA_PROMPT_MODIFIER Value:  (base)
Var:  CONDA_PYTHON_EXE Value:  C:\Users\ven_n_000\Anaconda3\python.exe
Var:  CONDA_SHLVL Value:  1
Var:  DRIVERDATA Value:  C:\Windows\System32\Drivers\DriverData
Var:  FP_NO_HOST_CHECK Value:  NO
Var:  HOMEDRIVE Value:  C:
Var:  HOMEPATH Value:  \Users\ven_n_000
Var:  LOCALAPPDATA Value:  C:\Users\ven_n_000\AppData\Local
Var:  LOGONSERVER Value:  \\BANKAI
Var:  NUMBER_OF_PROCESSORS Value:  4
Var:  ONEDRIVE Value:  C:\Users\ven_n_000\OneDrive
Var:  OS Value:  Windows_NT
Var:  PATH Value:  C:\Users\ven_n_000\Anaconda3;C:\Users\ven_n_000\Anaconda3\Library\mingw-w64\bin;C:\Users\ven_n_000\Anaconda3\Library\usr\bin;C:\Users\ven_n_000\Anaconda3\Library\bin;C:\Users\ven_n_000\Anaconda3\Scripts;C:\Users\ven_n_000\Anaconda3\bin;C:\Users\ven_n_000\Anaconda3\condabin;C:\ProgramData\Oracle\Java\javapath;C:\Program Files (x86)\Intel\iCLS Client;C:\Program Files\Intel\iCLS Client;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0;C:\Program Files (x86)\Intel\OpenCL SDK\2.0\bin\x86;C:\Program Files (x86)\Intel\OpenCL SDK\2.0\bin\x64;C:\Program Files\Intel\Intel(R) Management Engine Components\DAL;C:\Program Files\Intel\Intel(R) Management Engine Components\IPT;C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\DAL;C:\Program Files (x86)\Intel\Intel(R) Management Engine Components\IPT;C:\Program Files (x86)\EgisTec MyWinLocker\x64;C:\Program Files (x86)\EgisTec MyWinLocker;C:\Program Files (x86)\Skype\Phone;C:\Program Files\Git\cmd;C:\Program Files (x86)\AOMEI Backupper;C:\WINDOWS\System32\OpenSSH;C:\Program Files\MongoDB\Server\4.2\bin;C:\Users\ven_n_000\AppData\Local\Programs\Python\Python38\Scripts;C:\Users\ven_n_000\AppData\Local\Programs\Python\Python38;C:\Users\ven_n_000\AppData\Local\Microsoft\WindowsApps;.
Var:  PATHEXT Value:  .COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC
Var:  PROCESSOR_ARCHITECTURE Value:  AMD64
Var:  PROCESSOR_IDENTIFIER Value:  Intel64 Family 6 Model 58 Stepping 9, GenuineIntel
Var:  PROCESSOR_LEVEL Value:  6
Var:  PROCESSOR_REVISION Value:  3a09
Var:  PROGRAMDATA Value:  C:\ProgramData
Var:  PROGRAMFILES Value:  C:\Program Files
Var:  PROGRAMFILES(X86) Value:  C:\Program Files (x86)
Var:  PROGRAMW6432 Value:  C:\Program Files
Var:  PROMPT Value:  (base) $P$G
Var:  PSMODULEPATH Value:  C:\WINDOWS\system32\WindowsPowerShell\v1.0\Modules\
Var:  PT5HOME Value:  C:\Program Files (x86)\Cisco Packet Tracer 5.3.3
Var:  PT7HOME Value:  C:\Program Files\Cisco Packet Tracer 7.2
Var:  PUBLIC Value:  C:\Users\Public
Var:  QT_DEVICE_PIXEL_RATIO Value:  auto
Var:  SESSIONNAME Value:  Console
Var:  SYSTEMDRIVE Value:  C:
Var:  SYSTEMROOT Value:  C:\WINDOWS
Var:  TEMP Value:  C:\Users\VEN_N_~1\AppData\Local\Temp
Var:  TMP Value:  C:\Users\VEN_N_~1\AppData\Local\Temp
Var:  USERDOMAIN Value:  BANKAI
Var:  USERDOMAIN_ROAMINGPROFILE Value:  BANKAI
Var:  USERNAME Value:  ven_n_000
Var:  USERPROFILE Value:  C:\Users\ven_n_000
Var:  VBOX_MSI_INSTALL_PATH Value:  C:\Program Files\Oracle\VirtualBox\
Var:  WINDIR Value:  C:\WINDOWS
Var:  KERNEL_LAUNCH_TIMEOUT Value:  40
Var:  JPY_INTERRUPT_EVENT Value:  2808
Var:  IPY_INTERRUPT_EVENT Value:  2808
Var:  JPY_PARENT_PID Value:  2796
Var:  TERM Value:  xterm-color
Var:  CLICOLOR Value:  1
Var:  PAGER Value:  cat
Var:  GIT_PAGER Value:  cat
Var:  MPLBACKEND Value:  module://ipykernel.pylab.backend_inline
all done

In [45]:
os.getcwd()

'C:\\Users\\ven_n_000\\Desktop\\iod_work\\2019_12_09_DS_FT_SYD_Projects\\miruna\\labs\\module_2'

In [47]:
# db = client.test
# collection = db.people
cursor = collection.find().sort('Age').limit(3)
#print(cursor)
for doc in cursor:
    print (doc)

{'_id': ObjectId('5df95650b081c94356d116bf'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('5df95650b081c94356d11685'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('5df95650b081c94356d116a5'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}

In [48]:
cursor = collection.find()
#print(cursor)
for doc in cursor:
    print (doc)

{'_id': ObjectId('5df95650b081c94356d11674'), 'Name': 'Quinn, Alfonso Y.', 'Age': 61, 'Country': 'Northern Mariana Islands', 'Location': '-20.77447, -11.73429'}
{'_id': ObjectId('5df95650b081c94356d11675'), 'Name': 'Dominguez, Jasmine S.', 'Age': 31, 'Country': 'Comoros', 'Location': '-61.56115, -147.43152'}
{'_id': ObjectId('5df95650b081c94356d11676'), 'Name': 'Morgan, Tucker S.', 'Age': 41, 'Country': 'Grenada', 'Location': '29.92717, 169.26014'}
{'_id': ObjectId('5df95650b081c94356d11677'), 'Name': 'Potts, Destiny J.', 'Age': 24, 'Country': 'Nicaragua', 'Location': '-54.60926, 126.32675'}
{'_id': ObjectId('5df95650b081c94356d11678'), 'Name': 'Holman, Hasad O.', 'Age': 32, 'Country': 'China', 'Location': '39.9127, 116.3833'}
{'_id': ObjectId('5df95650b081c94356d11679'), 'Name': 'Mcintyre, Caesar U.', 'Age': 40, 'Country': 'United States', 'Location': '-25.48981, 42.39013'}
{'_id': ObjectId('5df95650b081c94356d1167a'), 'Name': 'Dickerson, Daria Z.', 'Age': 47, 'Country': 'Montenegro', 'Location': '49.05571, 122.53302'}
{'_id': ObjectId('5df95650b081c94356d1167b'), 'Name': 'Dodson, Finn B.', 'Age': 38, 'Country': 'American Samoa', 'Location': '-69.55397, 131.50998'}
{'_id': ObjectId('5df95650b081c94356d1167c'), 'Name': 'Cameron, Carla K.', 'Age': 61, 'Country': 'Myanmar', 'Location': '50.35508, 13.57343'}
{'_id': ObjectId('5df95650b081c94356d1167d'), 'Name': 'Harding, Yen G.', 'Age': 64, 'Country': 'Angola', 'Location': '32.79582, -101.18575'}
{'_id': ObjectId('5df95650b081c94356d1167e'), 'Name': 'Mccall, Lara Q.', 'Age': 55, 'Country': 'Georgia', 'Location': '7.41251, 63.86113'}
{'_id': ObjectId('5df95650b081c94356d1167f'), 'Name': 'Sanchez, Aristotle L.', 'Age': 25, 'Country': 'Mayotte', 'Location': '-74.97811, -27.77269'}
{'_id': ObjectId('5df95650b081c94356d11680'), 'Name': 'French, Dawn W.', 'Age': 40, 'Country': 'Bolivia', 'Location': '66.99559, 172.58916'}
{'_id': ObjectId('5df95650b081c94356d11681'), 'Name': 'Valenzuela, Wesley E.', 'Age': 47, 'Country': 'Nepal', 'Location': '40.43004, -31.63421'}
{'_id': ObjectId('5df95650b081c94356d11682'), 'Name': 'Barry, Nayda R.', 'Age': 39, 'Country': 'Anguilla', 'Location': '-18.52518, -118.67157'}
{'_id': ObjectId('5df95650b081c94356d11683'), 'Name': 'Parks, Joseph C.', 'Age': 56, 'Country': 'Vanuatu', 'Location': '-16.65215, -122.14829'}
{'_id': ObjectId('5df95650b081c94356d11684'), 'Name': 'Welch, Mary L.', 'Age': 45, 'Country': 'Saint Pierre and Miquelon', 'Location': '-23.13924, 99.94579'}
{'_id': ObjectId('5df95650b081c94356d11685'), 'Name': 'Townsend, Cadman I.', 'Age': 19, 'Country': 'Somalia', 'Location': '-87.69188, -144.16138'}
{'_id': ObjectId('5df95650b081c94356d11686'), 'Name': 'Martin, Harper D.', 'Age': 27, 'Country': 'British Indian Ocean Territory', 'Location': '-52.04695, -105.33625'}
{'_id': ObjectId('5df95650b081c94356d11687'), 'Name': 'Chavez, Garrett H.', 'Age': 33, 'Country': 'Heard Island and Mcdonald Islands', 'Location': '-40.34056, -56.24268'}
{'_id': ObjectId('5df95650b081c94356d11688'), 'Name': 'Pratt, Noelani P.', 'Age': 63, 'Country': 'Reunion', 'Location': '80.65682, 162.5187'}
{'_id': ObjectId('5df95650b081c94356d11689'), 'Name': 'Poole, Maia S.', 'Age': 29, 'Country': 'land Islands', 'Location': '-45.20296, 46.68062'}
{'_id': ObjectId('5df95650b081c94356d1168a'), 'Name': 'Miller, Medge O.', 'Age': 59, 'Country': 'United Kingdom (Great Britain)', 'Location': '20.26129, -75.64274'}
{'_id': ObjectId('5df95650b081c94356d1168b'), 'Name': 'Baldwin, Liberty Y.', 'Age': 48, 'Country': 'Dominica', 'Location': '25.52303, -169.50365'}
{'_id': ObjectId('5df95650b081c94356d1168c'), 'Name': 'Browning, Reuben G.', 'Age': 61, 'Country': 'Guernsey', 'Location': '36.47289, -6.11841'}
{'_id': ObjectId('5df95650b081c94356d1168d'), 'Name': 'Perkins, Griffin W.', 'Age': 48, 'Country': 'South Africa', 'Location': '-74.6125, 2.34217'}
{'_id': ObjectId('5df95650b081c94356d1168e'), 'Name': 'Marquez, August A.', 'Age': 57, 'Country': 'United Kingdom (Great Britain)', 'Location': '61.94015, -170.70676'}
{'_id': ObjectId('5df95650b081c94356d1168f'), 'Name': 'Alston, Charde I.', 'Age': 56, 'Country': 'Ukraine', 'Location': '-38.53191, -50.23885'}
{'_id': ObjectId('5df95650b081c94356d11690'), 'Name': 'Alvarado, Nero N.', 'Age': 61, 'Country': 'French Guiana', 'Location': '-10.25168, 147.0262'}
{'_id': ObjectId('5df95650b081c94356d11691'), 'Name': 'Hendricks, Cailin U.', 'Age': 25, 'Country': 'Heard Island and Mcdonald Islands', 'Location': '-72.81203, 59.59854'}
{'_id': ObjectId('5df95650b081c94356d11692'), 'Name': 'Briggs, Amanda N.', 'Age': 35, 'Country': 'Saint Lucia', 'Location': '54.85017, -140.89639'}
{'_id': ObjectId('5df95650b081c94356d11693'), 'Name': 'Lee, Jack Y.', 'Age': 47, 'Country': 'Norfolk Island', 'Location': '-89.30874, 77.57111'}
{'_id': ObjectId('5df95650b081c94356d11694'), 'Name': 'Sutton, Blair P.', 'Age': 62, 'Country': 'Palestine, State of', 'Location': '-79.8451, -85.93264'}
{'_id': ObjectId('5df95650b081c94356d11695'), 'Name': 'Marshall, David J.', 'Age': 43, 'Country': 'Greenland', 'Location': '-14.99002, -48.26145'}
{'_id': ObjectId('5df95650b081c94356d11696'), 'Name': 'Howell, Ivana G.', 'Age': 42, 'Country': 'Saudi Arabia', 'Location': '-78.23589, -110.37693'}
{'_id': ObjectId('5df95650b081c94356d11697'), 'Name': 'Salas, Steel U.', 'Age': 59, 'Country': 'Andorra', 'Location': '65.32695, 161.88391'}
{'_id': ObjectId('5df95650b081c94356d11698'), 'Name': 'Sims, Leigh D.', 'Age': 26, 'Country': 'Cambodia', 'Location': '-39.76351, 102.29045'}
{'_id': ObjectId('5df95650b081c94356d11699'), 'Name': 'Ratliff, Avram D.', 'Age': 38, 'Country': 'Sweden', 'Location': '60.87227, -74.71222'}
{'_id': ObjectId('5df95650b081c94356d1169a'), 'Name': 'Mendoza, Kirk S.', 'Age': 25, 'Country': 'Cook Islands', 'Location': '76.41526, 69.14896'}
{'_id': ObjectId('5df95650b081c94356d1169b'), 'Name': 'Ortiz, Cameran B.', 'Age': 49, 'Country': 'Mauritania', 'Location': '21.11098, -17.08853'}
{'_id': ObjectId('5df95650b081c94356d1169c'), 'Name': 'Preston, Dane W.', 'Age': 40, 'Country': 'American Samoa', 'Location': '-52.44523, -12.36693'}
{'_id': ObjectId('5df95650b081c94356d1169d'), 'Name': 'Brooks, Mariko D.', 'Age': 33, 'Country': 'Turks and Caicos Islands', 'Location': '-52.93344, -28.41707'}
{'_id': ObjectId('5df95650b081c94356d1169e'), 'Name': 'Webster, Ray E.', 'Age': 52, 'Country': 'Chile', 'Location': '-20.20973, 154.85885'}
{'_id': ObjectId('5df95650b081c94356d1169f'), 'Name': 'Roberts, Cara B.', 'Age': 52, 'Country': 'Thailand', 'Location': '61.9608, 161.14669'}
{'_id': ObjectId('5df95650b081c94356d116a0'), 'Name': 'Jackson, Jayme U.', 'Age': 33, 'Country': 'Tonga', 'Location': '-81.82718, 20.9984'}
{'_id': ObjectId('5df95650b081c94356d116a1'), 'Name': 'Bridges, Tamekah D.', 'Age': 35, 'Country': 'Christmas Island', 'Location': '15.08403, -9.44741'}
{'_id': ObjectId('5df95650b081c94356d116a2'), 'Name': 'Cardenas, Jared I.', 'Age': 45, 'Country': 'Reunion', 'Location': '6.88105, 171.22864'}
{'_id': ObjectId('5df95650b081c94356d116a3'), 'Name': 'Davenport, Nadine V.', 'Age': 38, 'Country': 'Peru', 'Location': '-41.73735, 57.46765'}
{'_id': ObjectId('5df95650b081c94356d116a4'), 'Name': 'Douglas, Irene I.', 'Age': 49, 'Country': 'Tajikistan', 'Location': '-21.11626, -43.1353'}
{'_id': ObjectId('5df95650b081c94356d116a5'), 'Name': 'Graham, Emerald O.', 'Age': 20, 'Country': 'Eritrea', 'Location': '61.35398, 28.04381'}
{'_id': ObjectId('5df95650b081c94356d116a6'), 'Name': 'Cherry, Chantale L.', 'Age': 45, 'Country': 'Jersey', 'Location': '11.67317, 50.4145'}
{'_id': ObjectId('5df95650b081c94356d116a7'), 'Name': 'Shepherd, Kylie X.', 'Age': 42, 'Country': 'Nepal', 'Location': '78.82173, -125.25611'}
{'_id': ObjectId('5df95650b081c94356d116a8'), 'Name': 'Phelps, Sawyer Q.', 'Age': 51, 'Country': 'Zambia', 'Location': '82.43626, 62.09828'}
{'_id': ObjectId('5df95650b081c94356d116a9'), 'Name': 'Olsen, Sophia K.', 'Age': 22, 'Country': 'United Arab Emirates', 'Location': '2.97813, 88.7177'}
{'_id': ObjectId('5df95650b081c94356d116aa'), 'Name': 'Edwards, Myra J.', 'Age': 31, 'Country': 'Jamaica', 'Location': '57.13947, 170.0602'}
{'_id': ObjectId('5df95650b081c94356d116ab'), 'Name': 'Sharpe, Abraham M.', 'Age': 21, 'Country': 'Antarctica', 'Location': '-78.40244, -162.765'}
{'_id': ObjectId('5df95650b081c94356d116ac'), 'Name': 'Lewis, Glenna Y.', 'Age': 56, 'Country': 'Antarctica', 'Location': '-49.43501, -162.02286'}
{'_id': ObjectId('5df95650b081c94356d116ad'), 'Name': 'Franco, Norman E.', 'Age': 30, 'Country': 'Puerto Rico', 'Location': '-67.90256, -58.98164'}
{'_id': ObjectId('5df95650b081c94356d116ae'), 'Name': 'Fuller, Christen R.', 'Age': 23, 'Country': 'Namibia', 'Location': '-64.89213, -7.46627'}
{'_id': ObjectId('5df95650b081c94356d116af'), 'Name': 'Frost, Willa N.', 'Age': 41, 'Country': 'Lebanon', 'Location': '39.20651, -36.38229'}
{'_id': ObjectId('5df95650b081c94356d116b0'), 'Name': 'Bates, Sopoline R.', 'Age': 58, 'Country': 'Mauritania', 'Location': '80.94557, 97.05546'}
{'_id': ObjectId('5df95650b081c94356d116b1'), 'Name': 'French, Dante H.', 'Age': 32, 'Country': 'Niue', 'Location': '-80.04334, 157.45408'}
{'_id': ObjectId('5df95650b081c94356d116b2'), 'Name': 'Arnold, Emily R.', 'Age': 61, 'Country': 'Djibouti', 'Location': '-60.36244, 91.55568'}
{'_id': ObjectId('5df95650b081c94356d116b3'), 'Name': 'Ward, Noah B.', 'Age': 38, 'Country': 'Gabon', 'Location': '-45.62401, 4.84001'}
{'_id': ObjectId('5df95650b081c94356d116b4'), 'Name': 'Huffman, Nita U.', 'Age': 35, 'Country': 'Solomon Islands', 'Location': '-40.35596, 145.85145'}
{'_id': ObjectId('5df95650b081c94356d116b5'), 'Name': 'Summers, May Y.', 'Age': 55, 'Country': 'Guernsey', 'Location': '8.82984, -48.87366'}
{'_id': ObjectId('5df95650b081c94356d116b6'), 'Name': 'Jenkins, Octavia P.', 'Age': 29, 'Country': 'Guernsey', 'Location': '45.4198, -164.16024'}
{'_id': ObjectId('5df95650b081c94356d116b7'), 'Name': 'Frost, Declan A.', 'Age': 52, 'Country': 'Peru', 'Location': '11.59492, 75.31999'}
{'_id': ObjectId('5df95650b081c94356d116b8'), 'Name': 'Byrd, Dante A.', 'Age': 43, 'Country': 'China', 'Location': '31.2, 121.5'}
{'_id': ObjectId('5df95650b081c94356d116b9'), 'Name': 'Sykes, Iliana Q.', 'Age': 62, 'Country': 'Antarctica', 'Location': '7.15292, -165.30781'}
{'_id': ObjectId('5df95650b081c94356d116ba'), 'Name': 'Bridges, Shaine N.', 'Age': 45, 'Country': 'Virgin Islands, United States', 'Location': '56.939, 99.85412'}
{'_id': ObjectId('5df95650b081c94356d116bb'), 'Name': 'Franco, Bo F.', 'Age': 26, 'Country': 'Russian Federation', 'Location': '84.1134, -13.34213'}
{'_id': ObjectId('5df95650b081c94356d116bc'), 'Name': 'Riddle, Dieter Q.', 'Age': 27, 'Country': 'Tajikistan', 'Location': '-27.50754, 4.7995'}
{'_id': ObjectId('5df95650b081c94356d116bd'), 'Name': 'Pope, Lana U.', 'Age': 63, 'Country': 'Bangladesh', 'Location': '-72.36226, -77.38894'}
{'_id': ObjectId('5df95650b081c94356d116be'), 'Name': 'Guthrie, Tanner Y.', 'Age': 21, 'Country': 'Zimbabwe', 'Location': '32.67009, -51.93957'}
{'_id': ObjectId('5df95650b081c94356d116bf'), 'Name': 'Sawyer, Neve M.', 'Age': 18, 'Country': 'Serbia', 'Location': '-34.37446, 174.0838'}
{'_id': ObjectId('5df95650b081c94356d116c0'), 'Name': 'Sampson, Karen T.', 'Age': 48, 'Country': 'Macao', 'Location': '86.61408, 46.48167'}
{'_id': ObjectId('5df95650b081c94356d116c1'), 'Name': 'Carney, Tamekah I.', 'Age': 57, 'Country': 'China', 'Location': '45.75, 126.6333'}
{'_id': ObjectId('5df95650b081c94356d116c2'), 'Name': 'Henderson, Peter D.', 'Age': 35, 'Country': 'Cuba', 'Location': '-44.30206, 43.71482'}
{'_id': ObjectId('5df95650b081c94356d116c3'), 'Name': 'West, Hyatt K.', 'Age': 31, 'Country': 'Saint Martin', 'Location': '37.53127, 90.91201'}
{'_id': ObjectId('5df95650b081c94356d116c4'), 'Name': 'Haney, Cairo Y.', 'Age': 57, 'Country': 'Rwanda', 'Location': '-47.68307, -64.96486'}
{'_id': ObjectId('5df95650b081c94356d116c5'), 'Name': 'Caldwell, Breanna N.', 'Age': 51, 'Country': 'Mauritius', 'Location': '-57.36485, -103.06976'}
{'_id': ObjectId('5df95650b081c94356d116c6'), 'Name': 'Potts, Shafira L.', 'Age': 34, 'Country': 'Swaziland', 'Location': '-57.61332, 132.96449'}
{'_id': ObjectId('5df95650b081c94356d116c7'), 'Name': 'Morse, Suki D.', 'Age': 37, 'Country': 'Christmas Island', 'Location': '-72.49242, 106.16669'}
{'_id': ObjectId('5df95650b081c94356d116c8'), 'Name': 'Zimmerman, Reuben H.', 'Age': 23, 'Country': 'Puerto Rico', 'Location': '46.28774, 73.9033'}
{'_id': ObjectId('5df95650b081c94356d116c9'), 'Name': 'Guerrero, Slade T.', 'Age': 58, 'Country': 'Martinique', 'Location': '51.07221, -124.40854'}
{'_id': ObjectId('5df95650b081c94356d116ca'), 'Name': 'Pacheco, Tucker P.', 'Age': 62, 'Country': 'Paraguay', 'Location': '-66.53304, 52.94481'}
{'_id': ObjectId('5df95650b081c94356d116cb'), 'Name': 'Justice, Preston B.', 'Age': 54, 'Country': "Cte D'Ivoire (Ivory Coast)", 'Location': '-44.24176, 13.24102'}
{'_id': ObjectId('5df95650b081c94356d116cc'), 'Name': 'Hodges, Gloria N.', 'Age': 50, 'Country': 'Saint Helena, Ascension and Tristan da Cunha', 'Location': '18.49617, -50.64409'}
{'_id': ObjectId('5df95650b081c94356d116cd'), 'Name': 'Shepard, Peter R.', 'Age': 20, 'Country': 'Saint Helena, Ascension and Tristan da Cunha', 'Location': '28.90219, 66.86083'}
{'_id': ObjectId('5df95650b081c94356d116ce'), 'Name': 'Mayer, Violet U.', 'Age': 53, 'Country': 'China', 'Location': '40, 95'}
{'_id': ObjectId('5df95650b081c94356d116cf'), 'Name': 'Melendez, Jescie P.', 'Age': 53, 'Country': 'Malawi', 'Location': '15.08477, 29.7772'}
{'_id': ObjectId('5df95650b081c94356d116d0'), 'Name': 'Maynard, Reuben B.', 'Age': 50, 'Country': 'Mozambique', 'Location': '79.49016, 17.75474'}
{'_id': ObjectId('5df95650b081c94356d116d1'), 'Name': 'Slater, Liberty K.', 'Age': 48, 'Country': 'France', 'Location': '31.73899, -118.60297'}
{'_id': ObjectId('5df95650b081c94356d116d2'), 'Name': 'Blake, Austin L.', 'Age': 38, 'Country': 'India', 'Location': '-17.85167, -131.55761'}
{'_id': ObjectId('5df95650b081c94356d116d3'), 'Name': 'Watkins, Ocean R.', 'Age': 53, 'Country': 'Senegal', 'Location': '30.52744, 54.66705'}
{'_id': ObjectId('5df95650b081c94356d116d4'), 'Name': 'Lopez, Eleanor Y.', 'Age': 57, 'Country': 'Guatemala', 'Location': '3.06585, 76.36247'}
{'_id': ObjectId('5df95650b081c94356d116d5'), 'Name': 'Preston, Chantale S.', 'Age': 58, 'Country': 'Samoa', 'Location': '-42.00754, 40.29557'}
{'_id': ObjectId('5df95650b081c94356d116d6'), 'Name': 'Horton, Cairo A.', 'Age': 29, 'Country': 'Estonia', 'Location': '-35.88718, 103.03128'}
{'_id': ObjectId('5df95650b081c94356d116d7'), 'Name': 'Warren, Nathaniel H.', 'Age': 44, 'Country': 'Slovakia', 'Location': '-88.03201, 172.7146'}

In [52]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
# pipeline = [
#     {"$group":{"_id":"$Name","count":{"$sum":1},}}
# ]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1

                                      AvgAge  Count
_id
China                              46.250000      4
Antarctica                         46.333333      3
Guernsey                           48.333333      3
Puerto Rico                        26.500000      2
Heard Island and Mcdonald Islands  29.000000      2
...                                      ...    ...
Northern Mariana Islands           61.000000      1
Paraguay                           62.000000      1
Palestine, State of                62.000000      1
Bangladesh                         63.000000      1
Angola                             64.000000      1

[82 rows x 2 columns]

In [53]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,5df95650b081c94356d11678,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,5df95650b081c94356d116b8,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,5df95650b081c94356d116c1,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,5df95650b081c94356d116ce,"Mayer, Violet U.",53,China,"40, 95"

In [54]:
import sys
#!{sys.executable} -m pip install folium

In [55]:
df2

,_id,Name,Age,Country,Location
0,5df95650b081c94356d11678,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,5df95650b081c94356d116b8,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,5df95650b081c94356d116c1,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,5df95650b081c94356d116ce,"Mayer, Violet U.",53,China,"40, 95"

In [56]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

Folium version 0.10.1

In [63]:
mydict = { "Name": "John" }
x = collection.insert_one(my_dict)

print(x.inserted_id)

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.people index: _id_ dup key: { _id: ObjectId('5df953dd9aa6e15e27f4f179') }

In [82]:
# pipeline = [
#         {"$group": {"_id":"$Country",
#              "AvgAge":{"$avg":"$Age"},
#              "Count":{"$sum":1},
#         }},
#         {"$sort":{"Count":-1,"AvgAge":1}}
# ]
# pipeline = [
#     {"$group":{"_id":"$Name","count":{"$sum":1},}}
# ]
pipeline = [
        {"$match": {"name":{"$regex":"^Peter"}},},
]
aggResult = mycol.aggregate(pipeline)
print(aggResult)
df2 = pd.DataFrame(list(aggResult))
for record in df2.iterrows():
    print(record[1]['_id'])
    mycol.delete_one({'_id':record[1]['_id']})
df2.head()
pipeline = [
        {"$match": {"name":{"$regex":"^Peter"}},},
]
aggResult = mycol.aggregate(pipeline)
print(aggResult)
df2 = pd.DataFrame(list(aggResult))

df2.head()

<pymongo.command_cursor.CommandCursor object at 0x00000223C6DB8C08>
5df953dd9aa6e15e27f4f179
2
<pymongo.command_cursor.CommandCursor object at 0x00000223C6E132C8>

Empty DataFrame
Columns: []
Index: []

In [165]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

,_id,Name,Age,Country,Location
0,5df8998c75b4fb784606f54c,"Holman, Hasad O.",32,China,"39.9127, 116.3833"
1,5df8998c75b4fb784606f58b,"Byrd, Dante A.",43,China,"31.2, 121.5"
2,5df8998c75b4fb784606f593,"Carney, Tamekah I.",57,China,"45.75, 126.6333"
3,5df8998c75b4fb784606f59f,"Mayer, Violet U.",53,China,"40, 95"

In [69]:
myquery = { "name": { "$regex": "^Peter" } }
cursor = mycol.find(myquery)
#print(cursor)
for doc in cursor:
    print (doc)

{'_id': ObjectId('5df953dd9aa6e15e27f4f179'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}

In [83]:
resp = mycol.create_index(
[
("name", 1),
("addres", 1)
]
)

print ("index response:", resp)

index response: name_1_addres_1

In [84]:
mycol.create_index([('name', pymongo.TEXT),('address',pymongo.TEXT)], name='search_index', default_language='english')

'search_index'

In [85]:
print(search_index)

NameError: name 'search_index' is not defined